<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.production.achour_ar.gshglobalactivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_worker"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_worker_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CheckAuth"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FirstEverActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name=".GalleryUtil"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AccueilUser"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InfoTicket"
            android:screenOrientation="portrait" />
        <!-- android:parentActivityName=".TabLayoutActivity" -->

        <activity
            android:name=".TabLayoutActivity"
            android:parentActivityName=".AccueilUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoTicketClos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting"
            android:parentActivityName=".TabLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ObservateurList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StatsTickets"
            android:parentActivityName=".TabLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreationTicket"
            android:parentActivityName=".TabLayoutActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".ServiceNotificationNewTicket"
            android:enabled="true" />

        <receiver
            android:name=".MyReceiver"
            android:priority="2147483647">
            <intent-filter>
                <action android:name="com.example.Broadcast" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SearchTicket"
            android:parentActivityName=".TabLayoutActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".MyProfileActivity"></activity>
    </application>

</manifest>