<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.production.achour_ar.gshglobalactivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_worker"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_worker_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ITs.activity.CheckAuth"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ITs.activity.FirstEverActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ITs.activity.GalleryUtil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ITs.activity.AccueilUser"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ITs.activity.InfoTicket"
            android:screenOrientation="portrait" />
        <!-- android:parentActivityName=".TabLayoutActivity" -->

        <activity
            android:name=".ITs.activity.TabLayoutActivity"
            android:parentActivityName=".ITs.activity.AccueilUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ITs.activity.InfoTicketClos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ITs.activity.Setting"
            android:parentActivityName=".ITs.activity.TabLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ITs.activity.ObservateurList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ITs.activity.StatsTickets"
            android:parentActivityName=".ITs.activity.TabLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ITs.activity.CreationTicket"
            android:parentActivityName=".ITs.activity.TabLayoutActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".ITs.manager.ServiceNotificationNewTicket"
            android:enabled="true" />

        <receiver
            android:name=".ITs.manager.MyReceiver"
            android:priority="2147483647">
            <intent-filter>
                <action android:name="com.example.Broadcast" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ITs.activity.SearchTicket"
            android:parentActivityName=".ITs.activity.TabLayoutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ITs.activity.MyProfileActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ITs.activity.SettingTicket"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ITs.activity.AboutActivity">
            android:name=".activity.SettingTicket"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>